<mat-card class="pad">
  <mat-card-header class="header">
      <mat-card-title *ngIf="viewMine">My Journals</mat-card-title>
      <mat-card-title *ngIf="!viewMine">Search</mat-card-title>

    <div class="toTheRight" *ngIf="viewMine">
      <button mat-raised-button color="primary" (click)="toggleView()" mat-button>
        Search
      </button>
    </div>
    <div class="toTheRight" *ngIf="!viewMine">
      <button mat-raised-button color="primary" (click)="toggleView()" mat-button>
        My Journals
      </button>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="!viewMine">
    <span class="form-inline">
      <div class="title">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="title" placeholder="Title">
        </mat-form-field>
      </div>

      <div class="title">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="creator" placeholder="Creator">
        </mat-form-field>
      </div>

      <div class="addTag">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="tag" placeholder="Tag">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addTag(tag); tag = '';" mat-button>
          Add
        </button>
      </div>
    </span>

    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="removeTag(tag)">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
<br>
    <button mat-raised-button color="primary" (click)="search(title, creator)" mat-button>
      Search
    </button>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="journalCount" [pageIndex]="page-1" [pageSize]="pageLimit" [pageSizeOptions]="pageSizeOptions"
  (page)="paginatorUpdate($event); search(title, creator)">
</mat-paginator>

<mat-card *ngFor="let journal of journals" routerLink="/journal/view/{{journal._id}}">
  Title: {{journal.title}}
  <br>
  <mat-chip *ngFor="let tag of journal.tags">
    {{ tag }}
  </mat-chip>
</mat-card>