<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="mode === 'create'">New journal, new journey...</mat-card-title>
    <mat-card-title *ngIf="mode === 'edit'">{{ journal.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="title">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="journal.title" placeholder="Title">
      </mat-form-field>
    </div>

    <quill-editor align=center [(ngModel)]="journal.body" [modules]="modules"></quill-editor>

    <div class="form-inline">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="tag" placeholder="Tag">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addTag(tag, journal); tag = '';" mat-button>
        Add
      </button>
    </div>

    <div class="form-inline">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of journal.tags" [removable]="true" (removed)="removeTag(tag, journal)">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>

  <mat-card-actions align="center">
    <button mat-raised-button color="primary" (click)="create()" mat-button *ngIf="mode === 'create'">Create</button>
    <button mat-raised-button color="primary" (click)="edit()" mat-button *ngIf="mode === 'edit'">Save</button>
  </mat-card-actions>
</mat-card>