<mat-card>
  <mat-card-header>
    <mat-card-title>Journal {{ mode }} View</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="journal.title" placeholder="Title">
      </mat-form-field>
      {{ journal.title }}

      <mat-form-field>
        <textarea matInput type="text" [(ngModel)]="journal.body" placeholder="Body"></textarea>
      </mat-form-field>
      {{ journal.body }}

      <mat-form-field>
        <input matInput type="text" [(ngModel)]="tag" placeholder="Tag">
        <button class="button" (click)="addTag(tag, journal); tag = '';" mat-button>Add</button>
      </mat-form-field>

      <mat-chip-list>
        <mat-chip *ngFor="let tag of journal.tags" [removable]="true" (removed)="removeTag(tag, journal)">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="create()" mat-button>Create</button>
    <!--<button (click)="edit()" mat-button>Edit</button>-->
  </mat-card-actions>
</mat-card>