<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Journy</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div class="sidenav-buttons">
          <button mat-button (click)="goToRegister()" *ngIf="!authService.isLoggedIn()"> Register </button>
          <button mat-button (click)="goToLogin()" *ngIf="!authService.isLoggedIn()"> Login </button>
          <button mat-button (click)="goToJournalCreation()" *ngIf="authService.isLoggedIn()"> Wirte Journal </button>
          <button mat-button (click)="goToJournalSearch()"> View Journals </button>
          <button mat-button (click)="logout()" *ngIf="authService.isLoggedIn()"> Logout </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="text-align:left">
        <h1>
          Welcome to {{ title }},
          {{ authService.isLoggedIn()? authService.getUserDetails().name : 'Guest' }}!
        </h1>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
